alembic
apscheduler
fastapi
fpdf2
httpx
passlib[bcrypt]
pydantic
pydantic[email]
pyjwt
pytest
pytest-cov
pytest-env
python-dotenv
python-multipart
psycopg2-binary
requests
sqlalchemy
uvicorn[standard]
qrcode